<div name="receiptContainer">
	<div>
		<b>Customer: </b>
		<i id='customer_name'></i>
	</div>
	<table name="receipt">
		<tr align='left'><th>Item</th><th>Qty</th><th>Amount</th></tr>
		<div id="bill_details">
		</div>
		<tr><td><hr width="100%" noshade></td><td><hr width="100%" noshade></td><td><hr width="100%" noshade></td></tr>
		<tr><td><b>Total Amount</b></td><td></td><td id="total_amount"></td></tr>
		<tr><td><b>You Saved</b></td><td id="saving_details"></td><td id="total_saving"></td></tr>
	</table>
</div>